body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 1500px;
    height: 900px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.reservoir {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px; /* Adjusted width */
    height: 600px; /* Adjusted height */
    background-color: #b3dfff; /* Blue reservoir color */
}

.score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #333;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: rgb(4, 0, 255);
}

.home-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-btn:hover {
    background-color: #0056b3;
}
